* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 0.95vw;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans";
  font-size: 0.875rem;
  color: #FFFFFF;
  position: relative;
  background-color: #333333;
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 3rem;
  line-height: 4.0625rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
  font-size: 1.3125rem;
  line-height: 1.8125rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

[class*=__container] {
  max-width: 37.25rem;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.header {
  background-image: url("../img/header/bg-small.jpg");
  background-size: cover;
  min-height: 37.5rem;
}
.header__container {
  padding: 3.125rem 2.0625rem 6.6875rem 2.0625rem;
}
.header-head {
  display: flex;
  justify-content: space-between;
}
.header-head__burger-menu {
  flex: 0 0 1.6875rem;
  height: 1.25rem;
}
.header-head__burger-menu {
  width: 100%;
  height: 100%;
}
.header-head__mobile-number {
  min-width: 120px;
  overflow: hidden;
  border-bottom: 2px solid #D1A954;
}
.header-head__mobile-number a {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-main-part {
  margin-top: 7.125rem;
}
.header-main-part__title {
  word-wrap: break-word;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 4.4375rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.header-main-part__text {
  margin: 3.75rem 0 3.0625rem 0;
  line-height: 1.3125rem;
}
.header-main-part__button-open-modal {
  text-align: center;
  width: 10rem;
  height: 3.125rem;
  background-color: #D1A954;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.burger-menu {
  background-color: #333333;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.875rem;
  position: fixed;
  top: 0;
  overflow: auto;
  transition: left 0.3s ease 0s;
}
.burger-menu__close {
  width: 100%;
  text-align: right;
  margin-bottom: 4.875rem;
}
.burger-menu__menu {
  text-align: center;
}
.burger-menu__item {
  margin-bottom: 2.1875rem;
}
.burger-menu__link {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.0625rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.burger-menu__socials {
  margin-top: 3.375rem;
  width: 8.75rem;
  height: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3.125rem;
}

.poster-modal-winow {
  background-color: rgba(51, 51, 51, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.875rem;
  position: fixed;
  overflow: auto;
  display: none;
}

.modal-menu__close {
  width: 100%;
  text-align: right;
  margin-bottom: 4.875rem;
}
.modal-menu__posters {
  display: flex;
}
.modal-menu__poster-item {
  width: 16.25rem;
  height: 20rem;
  transition: all 0.5s ease 0s;
}
.modal-menu__poster-item img {
  width: 100%;
  height: 100%;
}
.modal-menu__navigation {
  display: flex;
  gap: 60px;
  margin-top: 4.875rem;
}
.modal-menu__navigation span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #C4C4C4;
}
.about {
  margin-top: 5rem;
}
.about__container {
  text-align: center;
}
.about__title span {
  color: #D1A954;
}
.about__subtitle {
  margin-top: 3.75rem;
}
.about__text {
  margin-top: 2.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
}
.about__info-block {
  display: flex;
  gap: 1.225rem;
  padding: 0 4.1875rem;
  justify-content: space-between;
  margin-top: 1.6875rem;
  margin-bottom: 2.5rem;
}
.about__info-block-item-text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.05em;
}
.about__info-block-item-text span {
  color: #D1A954;
}

@media (max-width: 400px) {
  .about__info-block {
    padding: 0 1%;
  }
}
.main__ourT {
  height: 50px;
  margin-top: 5rem;
  background: #000000;
}

.our-productions__container {
  text-align: center;
}
.our-productions__title span {
  color: #D1A954;
}
.our-productions__title {
  font-size: 2rem;
}
.our-productions__slider-block {
  overflow: hidden;
}
.our-productions__sloder-vision-block {
  width: 14.1rem;
  height: 20rem;
  margin: 0 auto;
}
.our-productions__slides-all {
  position: relative;
  display: flex;
  transition-duration: 0.5s;
}
.our-productions__slide {
  flex: 1 0 auto;
  width: 14.1rem;
  height: 20rem;
  transition: 0.5s ease;
}
.our-productions__slide img {
  width: 100%;
  height: 100%;
}
.our-productions__navigation {
  margin-top: 1.25rem;
  display: flex;
  gap: 2.25rem;
  justify-content: center;
}
.our-productions__navigation-right {
  transform: rotate(180deg);
}

.slideAnimation {
  transition-duration: 0.5s;
}